$T0: #E0F2F1
$T1: #B2DFDB
$T2: #80CBC4
$T3: #4DB6AC
$T4: #26A69A
$T5: #009688
$T6: #00897B
$T7: #00796B
$T8: #00695C
$T9: #004D40

body
  padding: 0
  margin: 0
  font-family: 'Open Sans', sans-serif
  .false-info
    height: 12px
    background-color: rgba(0, 0, 0, 0.6)
    border: transparent
    border-radius: 5px
  header
    height: 80px
    background-color: $T4
    display: flex
    justify-content: space-between
    .main-title
      padding: 10px 0 0 10px
      a
        text-decoration: none
        h3
          color: $T0
          margin: 0
          cursor: pointer
    .page-title
      text-align: center
      display: flex
      flex-direction: column
      justify-content: flex-end
      h1
        color: white
    .navigation
      display: flex
      justify-content: flex-end
      .user-head-infos
        display: flex
        flex-direction: column
        justify-content: center
        background-color: transparent
        transition: ease-in-out 0.2s
        padding: 5px 20px
        &:hover
          background-color: $T3
        .profile-picture
          width: 44px
        p
          font-size: 12px
          color: white
          margin: 0
      a
        width: 110px
        text-align: center
        text-decoration: none
        color: #E0F2F1
        font-weight: 500
        line-height: 5
        transition: ease-in-out 0.2s
        &:hover
          cursor: pointer
          background-color: $T3
          color: white
  main
    form
      display: flex
      flex-direction: column
      margin: 20px
      padding: 0 0 20px 0
      border: solid 0px $T5
      border-top-width: 50px
      box-shadow: 0px 0px 4px rgba(0,0,0,0.5)
      &.titled
        border-top-width: 0
        .title
          height: 50px
          background-color: $T5
          font-size: 16px
          text-transform: uppercase
          padding: 0 0 0 15px
          margin: 0
          color: white
          display: flex
          flex-direction: column
          justify-content: center
          p
            margin-top: 14px
      &.colorized
        background-color: $T1
      &.horizontal
        flex-direction: row
      &.sticky
        margin: 0 0 20px 0
        padding: 0 0 20px 0
      &.padded
        padding: 20px
      table
        border: none
        border-spacing: 5px 22px
        margin: 20px
        tr
          border: none
          td
            border: none
            &:first-child
              width: fit-content
            &:last-child
              width: auto
      input, select, button
        font-family: 'Open Sans', sans-serif
        border-radius: 3px
        border: transparent 0px solid
        transition: ease-in-out 0.2s
      input, select
        border-bottom: solid 2px $T5
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        padding-bottom: 2px
        &:focus
          outline: none
          box-shadow: 0 0 4px $T6
          padding-bottom: 8px
      .uploadFile
        input
          border-bottom: none
          display: none
      button, .uploadFile>label
        width: -moz-fit-content
        color: white
        width: fit-content
        border: transparent 0px solid
        border-radius: 0
        padding: 10px
        background-color: $T5
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.6)
        cursor: pointer
        &:hover
          background-color: $T4
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.4)
      .submit-search
        flex: 1 0 auto
        display: flex
        flex-direction: column
        justify-content: center
        button
          width: 40%
          margin: 0 auto
          padding: 30px
          font-size: 16px
      .buttons
        width: 100%
        display: flex
        justify-content: space-evenly
      .search-filters
        flex: 0 0 50%
        display: flex
        flex-direction: column
        margin-left: 20px
        .filter-type-choice
          display: flex
          .checkbox-list
            margin-left: 10px
        .input-group
          padding: 5px 0
          margin: 5px 0
          cursor: pointer
          label
            margin-right: 10px
          &.search
            display: flex
            flex-direction: column
            transform: translateX(-30px)
            margin-top: 10px
            .search-icon
              transform: translateX(150%)
              border-right: 1px solid #009688
              height: 30px
              line-height: 2
              padding-right: 5px
            input
              height: 30px
              width: 30vw
              font-size: 20px
              border: 1px solid $T5
              padding-left: 40px
              border-radius: 4px
              padding-bottom: 5px
              &:focus
                padding-bottom: 5px
    .shop-view
      display: flex
      flex-wrap: wrap
      justify-content: space-evenly
      article
        width: 33.4%
        margin: 15px 0
        padding: 0
        border: 0 solid transparent
        border-radius: 6px
        box-shadow: 0 0 10px rgba(0,0,0,0.4)
        img
          width: 100%
          margin: 0
          padding: 0
          border: 0 solid transparent
          border-top-left-radius: 6px
          border-top-right-radius: 6px
          min-height: 40px
        .article-body
          padding: 5px
          font-size: 12px
          .article-seller .article-title
            font-weight: 700
          .article-title
            font-size: 20px
            color: $T5
            margin: 0
          .article-seller
            margin-top: 0
    .divider
      width: 100%
      display: flex
      justify-content: space-evenly
    .detail-image
      width: 26%
      flex-direction: column
      justify-content: center
      Article
        width: 100%
        .preview-img
          width: 100%