# ignore itellij files
.idea/

# ignore local libs
./lib/*
./lib

# ignore local builds
build/

# ignore local iml
*.iml

# ignore local classpath
*.classpath

# ignore eclipse build
.build/*

# ignore eclipse settings
.settings/*
