body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body .false-info {
  height: 12px;
  background-color: rgba(0, 0, 0, 0.4);
}
body header {
  height: 80px;
  background-color: #26A69A;
  display: flex;
  justify-content: space-between;
}
body header .main-title {
  padding: 10px 0 0 10px;
}
body header .main-title a {
  text-decoration: none;
}
body header .main-title a h3 {
  color: #E0F2F1;
  margin: 0;
  cursor: pointer;
}
body header .page-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body header .page-title h1 {
  color: white;
}
body header .navigation {
  display: flex;
  justify-content: flex-end;
}
body header .navigation a {
  width: 140px;
  text-align: center;
  text-decoration: none;
  color: #E0F2F1;
  font-weight: 500;
  line-height: 5;
}
body header .navigation a:hover {
  cursor: pointer;
  background-color: #009688;
}
body main form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0 0 20px 0;
  border: solid 0px #009688;
  border-top-width: 50px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
body main form.titled {
  border-top-width: 0;
}
body main form.titled .title {
  height: 50px;
  background-color: #009688;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 0 0 15px;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main form.titled .title p {
  margin-top: 14px;
}
body main form.colorized {
  background-color: #B2DFDB;
}
body main form.horizontal {
  flex-direction: row;
}
body main form.sticky {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}
body main form.padded {
  padding: 20px;
}
body main form table {
  border: none;
  border-spacing: 5px 22px;
  margin: 20px;
}
body main form table tr {
  border: none;
}
body main form table tr td {
  border: none;
}
body main form table tr td:first-child {
  width: fit-content;
}
body main form table tr td:last-child {
  width: auto;
}
body main form input, body main form select, body main form button {
  font-family: "Open Sans", sans-serif;
  border-radius: 3px;
  border: transparent 0px solid;
  transition: ease-in-out 0.2s;
}
body main form input, body main form select {
  border-bottom: solid 2px #009688;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 2px;
}
body main form input:focus, body main form select:focus {
  outline: none;
  padding-bottom: 8px;
}
body main form .uploadFile input {
  border-bottom: none;
  display: none;
}
body main form button, body main form .uploadFile > label {
  width: -moz-fit-content;
  color: white;
  width: fit-content;
  border: transparent 0px solid;
  border-radius: 0;
  padding: 10px;
  background-color: #009688;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
body main form button:hover, body main form .uploadFile > label:hover {
  background-color: #26A69A;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
body main form .submit-search {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main form .submit-search button {
  width: 40%;
  margin: 0 auto;
  padding: 30px;
  font-size: 16px;
}
body main form .buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
body main form .search-filters {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
body main form .search-filters .filter-type-choice {
  display: flex;
}
body main form .search-filters .filter-type-choice .checkbox-list {
  margin-left: 10px;
}
body main form .search-filters .input-group {
  padding: 5px 0;
  margin: 5px 0;
  cursor: pointer;
}
body main form .search-filters .input-group label {
  margin-right: 10px;
}
body main form .search-filters .input-group.search {
  display: flex;
  flex-direction: column;
}
body main form .search-filters .input-group.search .search-icon {
  transform: translateX(150%);
  border-right: 1px solid #009688;
  height: 30px;
  line-height: 2;
  padding-right: 5px;
}
body main form .search-filters .input-group.search input {
  height: 30px;
  width: 30vw;
  font-size: 20px;
  border: 1px solid #009688;
  padding-left: 40px;
  border-radius: 12px;
}
body main .shop-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body main .shop-view article {
  width: 40%;
  margin: 15px 0;
  padding: 0;
  border: 0 solid transparent;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
body main .shop-view article img {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  min-height: 40px;
}
body main .shop-view article .article-body {
  padding: 5px;
  font-size: 12px;
}
body main .shop-view article .article-body .article-seller .article-title {
  font-weight: 700;
}
body main .shop-view article .article-body .article-title {
  font-size: 20px;
  color: #009688;
  margin: 0;
}
body main .shop-view article .article-body .article-seller {
  margin-top: 0;
}
body main .divider {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
body main .detail-image {
  width: 26%;
  flex-direction: column;
  justify-content: center;
}
body main .detail-image Article {
  width: 100%;
}
body main .detail-image Article .preview-img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
