<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>eni-auctions</display-name>
  <welcome-file-list>
    <welcome-file>ListerArticles</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>fr.eni_ecole.auction.servlet.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>connexion</servlet-name>
    <jsp-file>/WEB-INF/connexion/connexion.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Articles</servlet-name>
    <jsp-file>/WEB-INF/article/articles.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Articles</servlet-name>
    <url-pattern>/articlesPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListerArticles</servlet-name>
    <servlet-class>fr.eni_ecole.auction.servlet.ListerArticles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerArticles</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmationEncheresCours</servlet-name>
    <jsp-file>/WEB-INF/article/confirmationEncheresCours.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmationEncheresCours</servlet-name>
    <url-pattern>/confirmationEncheresCours</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>accesUser</servlet-name>
    <jsp-file>/WEB-INF/UserProfile/accesUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>accesUser</servlet-name>
    <url-pattern>/accesUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inscription</servlet-name>
    <jsp-file>/WEB-INF/inscription/inscription.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>controleur permettant d'invalider la session et de revenir à la page d'accueil</description>
    <display-name>Deconnexion</display-name>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>fr.eni_ecole.auction.servlet.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Profil du user</description>
    <display-name>Profil</display-name>
    <servlet-name>Profil</servlet-name>
    <servlet-class>fr.eni_ecole.auction.servlet.Profil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profil</servlet-name>
    <url-pattern>/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>detailVente</servlet-name>
    <jsp-file>/WEB-INF/article/detailVente.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailVente</servlet-name>
    <url-pattern>/detailVente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/theme/img/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateProfil</servlet-name>
    <url-pattern>/updateProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateProfil</servlet-name>
    <jsp-file>/WEB-INF/UserProfile/updateProfil.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>Update du Profil du user</description>
    <display-name>UpdateProfilUser</display-name>
    <servlet-name>UpdateProfilUser</servlet-name>
    <servlet-class>fr.eni_ecole.auction.servlet.UpdateProfilUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfilUser</servlet-name>
    <url-pattern>/updateProfilUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Delete du Profil </description>
    <display-name>Suppression</display-name>
    <servlet-name>Suppression</servlet-name>
    <servlet-class>fr.eni_ecole.auction.servlet.Suppression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Suppression</servlet-name>
    <url-pattern>/suppression</url-pattern>
  </servlet-mapping>
</web-app>